html {
    font-family: "Hack Nerd Font", "Courier New", monospace;
    background-color: #282a36;
    color: white;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* dropdown button */
.dropbtn {
    font-family: "Hack Nerd Font", "Courier New", monospace;
    background-color: #282a36;
    color: white;
    font-size: 16px;
    border: none;
    padding-bottom: 4px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.droplinks {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.droplinks a {
    background-color: #282a36;
    color: #6272a4;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.droplinks a:hover {
    color: #ff79c6;
    background-color: #282a36;
}

.droplinks a:active {
    color: #50fa7b;
}

/* Show the dropdown menu on hover */
.dropdown:hover .droplinks {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #282a36;
}
